body{
    background-color: rgb(158, 157, 157);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: cadetblue;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.startBtn{
    padding: 10px;
    border-radius: 20px;
    border: solid 1px white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    background-color: white;
    margin-top: 20px;
    opacity: 0.9;
    border-radius: 20px;
}

h1{
    text-decoration: underline;
    margin-bottom: 15px;
    font-size: 30px;
}

.questions{
    background-color:cadetblue;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    border: 2px solid;
    margin-bottom: 10px;
}

.answerbtn{
    background-color: rgb(189, 187, 187);
    border-radius: 10px;
    border: white solid;
    width: 100%;
    text-align: left;
    padding: 20px;
    margin: 5px;
}

.result{
    background-color: rgb(158, 158, 158);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}
.row{
    padding: 20px;
}

h2{
    font-size: 15px;
}

#formInput{
    margin-top: 15px;
    margin-bottom: 15px;
    }
    
.formData{
    margin-top: 15px;
    margin-bottom: 15px;
}

input{
    width: 100%;
}

#scoreResult{
    font-size: 24px;    
}

.formLabel{
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 15px;
}

#submitScoreBtn{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 25%;
    background-color: white;
    border: solid 1px grey;
}

li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color:cadetblue;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
  }

